Source: sdkx
Section: sdk
Priority: important
Maintainer: Alexander Krefting <kakrefting@gmail.com>
Build-Depends: debhelper-compat (= 12)

Package: sdkx
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Description of your package.
 A brief description of your package goes here. This can be multiple lines
 if necessary.
