#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	dh_auto_install
# Kopiere main.py (als serv-guy) in den /bin/-Ordner
	mkdir -p $(CURDIR)/debian/sdkx/bin
	cp $(CURDIR)/sdkx.sh $(CURDIR)/debian/sdkx/bin/sdkx
# Kopiere den gesamten Inhalt des src-Verzeichnisses in das Installationsverzeichnis
	mkdir -p $(CURDIR)/debian/sdkx/usr/share/sdkx/src
	cp -R $(CURDIR)/src/. $(CURDIR)/debian/sdkx/usr/share/sdkx/src
